<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="http://localhost:8080/css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="http://localhost:8080/">Главная</a></li>
            <li><a href="http://localhost:8080/catalog">Каталог книг</a></li>
            <li><a href="http://localhost:8080/about">О нас</a></li>
            <li><a href="http://localhost:8080/profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <table>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.getUserId()}"></td>
            <td th:text="${post.getCreatedAt()}"></td>
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getContent()}"></td>
            <td>
                <img th:src="@{'/' + ${post.getId()} + '/postImage'}"
                     style="max-width: 100px; max-height: 150px;" />
            </td>
            <td>
                <div class="admin-panel" th:if="${role == 2 or role == 3}">
                    <td><a th:text="Открыть" th:href="@{'/post/' + ${post.getId()}}"></a></td>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>