<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Каталог</title>
  <link rel="stylesheet" href="http://localhost:8080/css/styleHome.css">
</head>
<body>
<header>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="http://localhost:8080/">Главная</a></li>
      <li><a href="http://localhost:8080/catalog">Каталог книг</a></li>
      <li><a href="http://localhost:8080/about">О нас</a></li>
      <li><a href="http://localhost:8080/profile">Профиль</a></li>
    </ul>
  </nav>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <!-- Использование Thymeleaf для отображения списка книг -->
    <tr>
      <td th:text="${book.getTitle()}"></td>
      <td th:text="${book.getAuthor()}"></td>
      <td th:text="${book.getAnnotation()}"></td>
      <td>
        <!-- Использование base64-кодирования массива байтов изображения -->
        <img th:src="@{'/' + ${book.getId()} + '/image'}"
             style="max-width: 100px; max-height: 150px;" />
      </td>
      <div >
        <td>
        <form th:action="@{'addFavoriteBook/' + ${book.getId()}}" method="post" >
          <button>Добавить себе</button>
        </form>
      </td>
      </div>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>