<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="catalog">Каталог книг</a></li>
            <li><a href="about">О нас</a></li>
            <li><a href="profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <!-- Использование Thymeleaf для отображения списка книг -->
        <tr th:each="book : ${books}">
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <!--<td th:text="${book.getAnnotation()}"></td>-->
            <td>
                <img th:src="@{'/' + ${book.getId()} + '/image'}"
                     style="max-width: 100px; max-height: 150px;" />
            </td>
            <td><a th:text="Открыть" th:href="@{'/book/' + ${book.getId()}}"></a></td>
            <button onclick="addUserToBook(${book.id})">Добавить</button>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>