<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека - Главная страница</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="catalog">Каталог книг</a></li>
            <li><a href="about">О нас</a></li>
            <li><a href="profile">Профиль</a></li>
        </ul>
    </nav>

</header>
<div>
    <th:block th:include="/timeFragment"></th:block>
    <p>Количество посещений: <span th:text="${count}"></span></p>
</div>
<main>
    <h1>Добро пожаловать в библиотеку!</h1>
    <p>Здесь вы найдете множество книг для чтения.</p>
</main>
</body>
</html>