<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека - Главная страница</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="profile.html">Профиль</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог книг</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Содержимое главной страницы -->
    <h1>Добро пожаловать в библиотеку!</h1>
    <p>Здесь вы найдете множество книг для чтения.</p>
    <!-- Другое содержимое главной страницы -->
</main>
</body>
</html>