<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="catalog">Каталог книг</a></li>
            <li><a href="about">О нас</a></li>
            <li><a href="profile">Профиль</a></li>
        </ul>
    </nav>
</header>

<div class="profile-container">
    <h1>Добро пожаловать: <span th:text="${username}"></span></h1>

    <!-- Дополнительные элементы профиля -->
    <div class="user-info">
        <!-- Другая информация о пользователе -->
    </div>

    <!-- Кнопка для изменения пароля -->
    <button class="password-button">Изменить пароль</button>

    <!-- Кнопка для выхода -->
    <button class="logout-button">Выход</button>
</div>

</body>
</html>