<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="catalog">Каталог книг</a></li>
            <li><a href="about">О нас</a></li>
            <li><a href="profile">Профиль</a></li>
        </ul>
    </nav>
</header>

<div class="profile-container">
    <h1>Добро пожаловать: <span th:text="${username}"></span></h1>

    <div class="user-info">
    </div>

    <div class="admin-panel" th:if="${role == 2 or role == 3}">
        <a type="submit" href="book-upload" class="btn btn-link">Добавить книгу</a>
        <a type="submit" href="post-upload" class="btn btn-link">Добавить новость</a>
    </div>
    <form action="/exit" method="post" enctype="multipart/form-data">
        <button type="submit" class="logout-button">Выход</button>
    </form>
</div>

</body>
</html>