<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователей</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="catalog">Каталог книг</a></li>
            <li><a href="about">О нас</a></li>
            <li><a href="profile">Профиль</a></li>
        </ul>
    </nav>
</header>
<main>
    <a th:href="@{'/user-add/'}">Добавить пользователя</a>
    <table>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getRoleName()}"></td>
            <td>
                <img th:src="@{'/' + ${user.getId()} + '/avatarImage'}"
                     style="max-width: 100px; max-height: 150px;" />
            </td>
            <td>
                <td><a th:text="Изменить" th:href="@{'/user-update/' + ${user.getId()}}"></a></td>
            </td>
            <td>
                <form th:action="@{'/' + ${user.getId()} + '/user-delete'}" method="post">
                <button type="submit" >Удалить</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>